
.sidenav-container {
  height: 100%;
  
}

.sidenav {
  width: 200px;
  

}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar-row, .mat-toolbar-single-row{
  padding: 0 0;
  
}

.mat-toolbar{
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-drawer-container{
  background-color: white;
}

.mat-icon{
  font-size: 18px;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  transition: 0.5s;
}


.header{
  height: 72px;
  z-index: 997;
  transition: all 0.5s;
  background: #fff;
}

.hidden{
  display:none;
}

.rightbuttons{
  margin-left: auto;
}

.social-links{
  display: inline-block;
  justify-content: space-between;
  padding-left: 10px;
  font-family:'Poppins', sans-serif;
  font-size: 15px;
  color: #7b909a;
  white-space: nowrap;
  transition: 0.3s;
  text-decoration: none;
}

.navbar-element, .mat-list-item{
  display: inline-block;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  margin: 0 10px;
  margin-left: auto;
  font-family:'Poppins', sans-serif;
  font-size: 15px;
  color: #7b909a;
  white-space: nowrap;
  transition: 0.3s;
  text-decoration: none;
}

.company-logo {
  display: inline-block;
  padding: 0 0;
  white-space: nowrap;
}


.hidden-menu-item{
  font-family:'Poppins', sans-serif;
  font-size: 15px;
  color: #7b909a;
  text-decoration: none;
}

.mat-toolbar a:hover, .mat-list-item:hover, .hidden-menu-item:hover{
  color: #009cea;
}


