<app-main-nav>
  <div #introduction class="container">
    <div class="row">
      <article data-aos="fade-up" class="col-lg-6 order-lg-1 pt-lg-0 intro-text-block">
        <h1 class="slogan">
          FinTech, BigData, Business Intelligence
        </h1>
  
        <p class="text">
          Creating cutting-edge software for the delivery and use of financial services,
          we build up the enterprise's infrastructure for Big Data Management and Business Intelligence.
          Our software-as-a-services provide companies what is needed for their banking and payment service products.
        </p>
      </article>

      <article data-aos="fade-left" class="col-lg-6 order-lg-2 intro-image">
        <img class="img-fluid" style="vertical-align: center; height: 450px; width: 800px;" src="assets/images/hero-img.png">
      </article>
    </div>
  </div>

  <div #aboutus class="aboutus">
    <div class="container" style="padding: 60px 50px;">
      <div class="row">
        <article data-aos="zoom-in" class="col-lg-6 " style="margin-top: 40px;">
          <img class="img-fluid" src="assets/images/logo.png">
        </article>
  
        <article data-aos="fade-left" class="col-lg-6 about-text-block">
          <div class="content pt-4 pt-lg-0">
            <h1 class="about">about us</h1>
  
            <p class="about-text">
              We are a part of REA Ventures, an investment company with teams in Hamburg, Izmir and Gibraltar. 
              Reaven Tech has formed up financial technologies in mind, and accordingly tailored the capabilities
              of computer sciences into big data management and back-end operations of finance, banking services and trade platforms.
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>

  <div #features class="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 order-lg-1 mg-tg-0 feature-text-block">
          <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li ngbNavItem>
              <a ngbNavLink class="nav-link" data-bs-toggle="tab" (click)="featureCarousel.select('feature-1')">
                <h2 class="feature-header">products&solutions</h2>
                <p>
                  reaven.tech provides agile productions and on time solutions for businesses that seek to achieve
                  results by precision and improve their decision-making mechanisms through data analytics.
                </p>
              </a>
              
            </li>
          </ul>
          <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li ngbNavItem>
              <a ngbNavLink class="nav-link" data-aos-delay="800" (click)="featureCarousel.select('feature-2')">
                <h2 class="feature-header">reaven as a fintech company</h2>
                <p class="feature-paragh">
                  as a fintech company, we help the financial institutions to adopt new data technologies of neo-banking 
                  by architecting back-end operations of BaaSs
                </p>
              </a>
              
            </li>
          </ul> 
          <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li ngbNavItem>
              <a ngbNavLink class="nav-link" (click)="featureCarousel.select('feature-3')" >
                <h2 class="feature-header">big data management</h2>
                <p class="feature-paragh">
                  we architect wholistic systems for flow, manipulation and maintenance of data,
                  and collaborate with partners to ensure that such systems are as much a state
                  of art as they fit business data framework.
                </p>
              </a>
              
            </li>
          </ul>
          <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li ngbNavItem>
              <a ngbNavLink class="nav-link" (click)="featureCarousel.select('feature-4')">
                <h2 class="feature-header">ETL and data warehouse</h2>
                <p class="feature-paragh">
                  in a tightly scheduled time, team reaven can build up and entire real-time ETL service
                  and data warehouse or supply ad hoc technical infrastructure for the 
                  management of any sort of data.
                </p>
              </a>
                
            </li>
          </ul>
          <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li ngbNavItem>
              <a ngbNavLink class="nav-link" (click)="featureCarousel.select('feature-5')">
                <h2 class="feature-header">business intelligence</h2>
                <p class="feature-paragh">
                  we help our partners bring out their awaiting potential by provisioning on-premise
                  BI systems with visual analytics and comprehensive reporting tools.
                </p>
              </a>
                
            </li>
          </ul>
        </div>


        <div class="col-lg-6 order-lg-2 feature-img">
          <ngb-carousel  #featureCarousel="ngbCarousel" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
            <ng-template ngbSlide id="feature-1">
              <div class="picsum-img-wrapper">
                <img src="assets/images/features/features-1.png" class="img-fluid">
              </div>
            </ng-template>
            <ng-template ngbSlide id="feature-2">
              <div class="picsum-img-wrapper">
                <img src="assets/images/features/features-2.png" class="img-fluid" alt="Random second slide">
              </div>
            </ng-template>
            <ng-template ngbSlide id="feature-3">
              <div class="picsum-img-wrapper">
                <img src="assets/images/features/features-3.png" class="img-fluid" alt="Random third slide">
              </div>
            </ng-template>
            <ng-template ngbSlide id="feature-4">
              <div class="picsum-img-wrapper">
                <img src="assets/images/features/features-4.png" class="img-fluid" alt="Random third slide">
              </div>
            </ng-template>
            <ng-template ngbSlide id="feature-5">
              <div class="picsum-img-wrapper">
                <img src="assets/images/features/features-5.png" class="img-fluid" alt="Random third slide">
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>


  <div class="services">
    <div class="container">
      <div class="services-title">
        <h2>our services</h2>
        <p>our goal is to make the financial services more transparent, efficient and cost-effective.</p>
      </div>
      <div class="row">

        <div class="col-md-6 col-lg-3 mb-lg-0 services-box">
          <mat-card class="first-card">
            <mat-card-title>
              <i class='bx bx-glasses'></i>
            </mat-card-title>
            <mat-card-subtitle>Transparency</mat-card-subtitle>     
            <mat-card-content>
              the financial service providers offer various service to their customers. 
              However, there is no transparency between the customer and the service provider.
              Reaven.tech helps companies in transparency by providing AISP (Account Information Service Provider).
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-md-6 col-lg-3 mb-lg-0 services-box">
          <mat-card class="second-card">
            <mat-card-title>
              <i class="bx bxs-tachometer"></i>
            </mat-card-title>
            <mat-card-subtitle>Efficiency</mat-card-subtitle>     
            <mat-card-content>
              reaven.tech develops payment solutions like Online Payment Initiation Services Platform (PISP) 
              that bring various financial source under one umbrella.
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-6 col-lg-3 mb-lg-0 services-box">
          <mat-card class="third-card">
            <mat-card-title>
              <i class="bx bxs-dollar-circle"></i>
            </mat-card-title>
            <mat-card-subtitle>Cost-effective</mat-card-subtitle>     
            <mat-card-content>
              team reaven develops simple APIs for financial services that cut complex, 
              time consuming and expensive the integration of different interfaces and financial sources.
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-6 col-lg-3 mb-lg-0 services-box">
          <mat-card class="fourth-card">
            <mat-card-title>
              <i class='bx bx-bot'></i>
            </mat-card-title>
            <mat-card-subtitle>Neo-Banking</mat-card-subtitle>     
            <mat-card-content>
              we build up cloud platforms of neo-banking that automate accounting, 
              payment and transfer processes so that people can concentrate on their true business rather than 
              getting lost in the pillars of traditional banking.
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

  <div class="team">
    <div class="container">
      <div class="team-title">
        <h2>
          team reaven
        </h2>
        <p>
          our team comprises programmers, analysts and researchers that are 
          guided by the leadership of senior developers and business affiliates 
          who have unique experiences in finance sector by having worked with international partners and investors for years.
        </p>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="member">
            <div class="member-pic">
              <img class="img-fluid" src="assets/images/team/TeyhanAktan.jpg">
              <div class="member-info">
                <h4>Teyhan Aktan</h4>
                <span>CEO</span>
                <div class="member-link">
                  <a href="https://de.linkedin.com/in/teyhan">
                    <i class='bx bxl-linkedin-square'></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="member">
            <div class="member-pic">
              <img class="img-fluid" src="assets/images/team/AliUygarKucukemre.jpg">
              <div class="member-info">
                <h4>Ali Uygar Küçükemre</h4>
                <span>CTO</span>
                <div class="member-link">
                  <a href="https://tr.linkedin.com/in/aliuygarkucukemre">
                    <i class='bx bxl-linkedin-square'></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="member">
            <div class="member-pic">
              <img class="img-fluid" src="assets/images/team/OsmanOzgur.jpg">
              <div class="member-info">
                <h4>Osman Özgür</h4>
                <span>Software Architect</span>
                <div class="member-link">
                  <a href="https://www.linkedin.com/in/osman-ozgur-5182675">
                    <i class='bx bxl-linkedin-square'></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="member">
            <div class="member-pic">
              <img class="img-fluid" src="assets/images/team/EmrahCaliskan.jpg">
              <div class="member-info">
                <h4>Emrah Çalışkan</h4>
                <span>Software Architect</span>
                <div class="member-link">
                  <a href="https://www.linkedin.com/in/emrah-%C3%A7ali%C5%9Fkan-78518b54/">
                    <i class='bx bxl-linkedin-square'></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="member">
            <div class="member-pic">
              <img class="img-fluid" src="assets/images/team/BarisUzun.jpg">
              <div class="member-info">
                <h4>Barış Uzunhan</h4>
                <span>Head of Projects and Product</span>
                <div class="member-link">
                  <a href="https://www.linkedin.com/in/baris-uzunhan/">
                    <i class='bx bxl-linkedin-square'></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="member">
            <div class="member-pic">
              <img class="img-fluid" src="assets/images/team/SerhatAkbak.jpg">
              <div class="member-info">
                <h4>Serhat Akbak</h4>
                <span>Project Manager, Analyst</span>
                <div class="member-link">
                  <a href="https://tr.linkedin.com/in/serhat-akbak-9a7524104">
                    <i class='bx bxl-linkedin-square'></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="member">
            <div class="member-pic">
              <img class="img-fluid" src="assets/images/team/SalimCanYildiz.jpg">
              <div class="member-info">
                <h4>Salim Can Yıldız</h4>
                <span>Software Developer</span>
                <div class="member-link">
                  <a href="https://www.linkedin.com/in/salim-can-yildiz/">
                    <i class='bx bxl-linkedin-square'></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="member">
            <div class="member-pic">
              <img class="img-fluid" src="assets/images/team/OzhanYildirim.jpg">
              <div class="member-info">
                <h4>Özhan Nuri Yıldırım</h4>
                <span>Software Developer</span>
                <div class="member-link">
                  <a href="https://www.linkedin.com/in/yildirimozhan/">
                    <i class='bx bxl-linkedin-square'></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-sm-3">
          <div class="member">
            <div class="member-pic">
              <img class="img-fluid" src="assets/images/team/EkinTepebas.jpg">
              <div class="member-info">
                <h4>Ekin Tepebaş</h4>
                <span>Software Developer</span>
                <div class="member-link">
                  <a href="https://www.linkedin.com/in/ekin-tepebas/">
                    <i class='bx bxl-linkedin-square'></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="member">
            <div class="member-pic">
              <img class="img-fluid" src="assets/images/team/OsmanAnilHicyilmaz.jpg">
              <div class="member-info">
                <h4>Osman Anıl Hiçyılmaz</h4>
                <span>Software Developer</span>
                <div class="member-link">
                  <a href="https://www.linkedin.com/in/osman-anil-hicyilmaz/">
                    <i class='bx bxl-linkedin-square'></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contact">
    <div class="container">
      <div class="contact-title">
        <h2>contact us</h2>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-5 d-flex align-items-stretch ">
          <div class="info">
            <div class="address">
              <i class='bx bx-map'></i>
              <h3>Location</h3>
              <p>Teknopark İzmir A-10/22 Urla, İzmir, Turkey</p>
            </div>
            <div class="e-mail">
              <i class='bx bx-envelope'></i>
              <h3>Email:</h3>
              <p>devcenter@reaven.tech</p>
            </div>
            <div class="phone">
              <i class='bx bx-phone-call'></i>
              <h3>Call:</h3>
              <p>+90 555 3072902</p>
            </div>
            <div class="container justify-content-center">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1269.5350829983265!2d26.634550544178975!3d38.314730963823855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14bb905dcd88e679%3A0x325bc54080b37c33!2sTechnopark%20IZMIR!5e0!3m2!1sen!2str!4v1662459390671!5m2!1sen!2str"
               width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-md-3 footer-links">
            <h4>quick links</h4>
            <ul>
              <li>
                <i class='bx bx-chevron-right'></i>
                <a href="index.html">home</a>
              </li>
              <li>
                <i class='bx bx-chevron-right'></i>
                <a href="index.html">about us</a>
              </li>
              <li>
                <i class='bx bx-chevron-right'></i>
                <a href="index.html">services</a>
              </li>
              <li>
                <i class='bx bx-chevron-right'></i>
                <a href="https://reaven.tech/terms-and-conditions.html">terms and conditions</a>
              </li>
              <li>
                <i class='bx bx-chevron-right'></i>
                <a href="https://reaven.tech/privacy-policy.html">privacy conditions</a>
              </li>
            </ul>
          </div>
          
          <div class="col-lg-6 col-md-3 footer-links">
            <h4>our services</h4>
            <ul>
              <li>
                <i class='bx bx-chevron-right'></i>
                <a href="https://reaven.tech/techStack.html">back-end solutions</a>
              </li>
              <li>
                <i class='bx bx-chevron-right'></i>
                <a href="https://reaven.tech/techStack.html">ETL</a>
              </li>
              <li>
                <i class='bx bx-chevron-right'></i>
                <a href="https://reaven.tech/techStack.html">data warehousing</a>
              </li>
              <li>
                <i class='bx bx-chevron-right'></i>
                <a href="https://reaven.tech/techStack.html">business intelligence</a>
              </li>
              <li>
                <i class='bx bx-chevron-right'></i>
                <a href="https://reaven.tech/techStack.html">mobile app development</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        © Copyright
        <strong><span>Reaven Tech</span></strong>
        All Rights Reserved
      </div>
      <img class="footer-icon" src="assets/images/revicon.png">
    </div>
  </footer>

  <a href="#" class="back-to-top">
    <i class='bx bxs-up-arrow-square back-to-top-button'></i>
  </a>
</app-main-nav>




